<div class="row">
    <div class="col-sm-12">
        <h2>Application Settings</h2>

        <form id="app_settings_form">
            <div class="form-group">
                <label for="vehicle_drop_off_address">Vehicle Drop Off Address</label>
                <input type="text" class="form-control" id="vehicle_drop_off_address" name="vehicle_drop_off_address"
                    data-bind="value: vehicleDropOffAddress" />
                </select>
            </div>

            <div class="form-group">
                <label for="contact_phone_number">Contact Phone Number</label>
                <input type="text" class="form-control" id="contact_phone_number" name="contact_phone_number"
                    data-bind="value: contactPhoneNumber" />
                </select>
            </div>

            <div id="app_settings_alerts_container"></div>

            <div id="app_settings_validation_error_container" class="validation-error-alert alert alert-danger alert-dismissable fade in">
                <a class="close" aria-label="close">&times;</a>
            </div>

            <div class="submit-button-container">
                <div data-bind="visible: isLoadingRequest" class="submit-button-loading-container">
                    <img src="img/loading_small.gif" alt="Loading...">
                </div>
                <button class="btn btn-lg btn-primary" data-bind="click: saveAppSettingsOnclick, disable: isLoadingRequest">Save Settings</button>
            </div>
        </form>
    </div>
</div>