<div class="col-sm-12">

    <h2>Tell us about the vehicle</h2>

    <form id="basic_vehicle_info_form">

        <div class="form-group">
            <label for="vehicle_year">Vehicle Year</label>
            <select class="form-control" id="vehicle_year" name="vehicle_year"
                    data-bind="options: vehicleYears,
                            value: selectedVehicleYear,
                            optionsCaption: '- Select -',
                            event: { change: vehicleYearOnSelect }">
            </select>
        </div>

        <div class="form-group">
            <label for="vehicle_make">Vehicle Make</label>
            <select class="form-control" id="vehicle_make" name="vehicle_make"
                data-bind="options: vehicleMakes,
                        value: selectedVehicleMake,
                        optionsValue: 'id',
                        optionsText: 'name',
                        optionsCaption: '- Select -',
                        event: { change: vehicleMakeOnSelect }">
            </select>
        </div>

        <div class="form-group">
            <label for="vehicle_model">Vehicle Model</label>
            <select class="form-control" id="vehicle_model" name="vehicle_model"
                    data-bind="options: vehicleModels,
                            value: selectedVehicleModel,
                            optionsValue: 'id',
                            optionsText: 'name',
                            optionsCaption: '- Select -',
                            event: { change: vehicleModelOnSelect }">
            </select>
        </div>

        <div class="form-group">
            <label for="vehicle_type">Vehicle Type</label>
            <select class="form-control" id="vehicle_type" name="vehicle_type"
                    data-bind="options: vehicleTypes,
                            value: selectedVehicleTypeId,
                            optionsValue: 'id',
                            optionsText: 'description',
                            optionsCaption: '- Select -'">
            </select>
            <div data-bind="visible: isLoadingVehicleType" class="vehicle-type-loading-container">
                <img src="img/loading_small.gif" alt="Loading...">
            </div>
            <!-- enable: shouldAllowVehicleTypeSelection -->
        </div>

        <div class="vehicle-type-img-container">
            <img data-bind="attr: { src: vehicleTypePicture }">
        </div>

    </form>

    <div id="vehicle_type_error_container"></div>

    <div id="basic_vehicle_info_validation_error_container" class="validation-error-alert alert alert-danger alert-dismissable fade in">
        <a class="close" aria-label="close">&times;</a>
    </div>

</div>
