<div>
    <form id="contact_info_form">
        <h2>Who's selling the vehicle?</h2>

        <div class="form-group">
            <label for="seller_name">Name</label>
            <input type="text" class="form-control" id="seller_name" name="seller_name"
                data-bind="value: sellerName" />
        </div>

        <div class="form-group">
            <label for="seller_phone_number">Phone number</label>
            <input type="tel" class="form-control" id="seller_phone_number" name="seller_phone_number"
                data-bind="value: sellerPhoneNumber" />
        </div>

        <div class="form-group">
            <label for="seller_email">Email</label>
            <input type="email" class="form-control" id="seller_email" name="seller_email"
                data-bind="value: sellerEmail" />
        </div>
    </form>

    <div id="contact_info_validation_error_container" class="validation-error-alert alert alert-danger alert-dismissable fade in">
        <a class="close" aria-label="close">&times;</a>
    </div>
</div>