<div class="col-sm-12">

    <h2 class="title">Here are your quote and ref. number</h2>

    <div class="quote-container">
        <div class="field-label-container">
            <span>Quote</span>
        </div>
        <div class="field-value-container">
            <span class="label label-success">
                <span class="glyphicon glyphicon glyphicon-usd" aria-hidden="true"></span>
                <span class="field-value" data-bind="text: calculatedQuote"></span>
            </span>
        </div>
    </div>

    <p class="quote-disclaimer">
        Quoted price could change upon vehicle inspection
    </p>

    <div class="reference-number-container">
        <div class="field-label-container">
            <span>Reference Number</span>
        </div>
        <div class="field-value-container">
            <span class="label label-info" data-bind="text: referenceNumber"></span>
        </div>
    </div>

    <div class="quote-wrap-up-options-container">
        <div class="provide-pickup-info-prompt">
            <p>
                Do you want to go ahead with the sell? Then let us know
                where the vehicle is located so that we can arrange the pickup.
            </p>
        </div>

        <form id="location_info_form">
            <h2>Where's the vehicle located?</h2>

            <div class="form-group">
                <label for="vehicle_street_address">Street Address</label>
                <input type="text" class="form-control" id="vehicle_street_address" name="vehicle_street_address"
                    placeholder="123 Main St" data-bind="value: vehicleStreetAddress"/>
            </div>

            <div class="form-group">
                <label for="vehicle_city">City</label>
                <input type="text" class="form-control" id="vehicle_city" name="vehicle_city"
                    placeholder="Tampa" data-bind="value: vehicleCity"/>
            </div>
        </form>

        <div id="location_info_validation_error_container" class="validation-error-alert alert alert-danger alert-dismissable fade in">
            <a class="close" aria-label="close">&times;</a>
        </div>

        <div class="submit-button-container">
            <div data-bind="visible: isLoadingRequest" class="submit-button-loading-container">
                <img src="img/loading_small.gif" alt="Loading...">
            </div>
            <button class="btn btn-lg btn-success" data-bind="click: submitLocationInfoOnClick, disable: isLoadingRequest">I want to sell!</button>
        </div>

        <div class="provide-pickup-info-prompt">
            <p>
                - OR -
            </p>
            <p>
                We can also call you back to get the info we need regarding the pickup.
            </p>
        </div>

        <div class="submit-button-container">
            <div data-bind="visible: isLoadingRequest" class="submit-button-loading-container">
                <img src="img/loading_small.gif" alt="Loading...">
            </div>
            <button class="btn btn-lg btn-primary" data-bind="click: callMeBackOnClick, disable: isLoadingRequest">Yes, call me back</button>
        </div>

        <div class="provide-pickup-info-prompt">
            <p>
                - OR -
            </p>
            <p>
                Are you still not ready to sell? Still shopping around? Let us know either way and
                we can get back to you in a few days to see how you're doing with your vehicle.
            </p>
        </div>

        <div class="row">
            <div class="submit-button-container col-sm-6">
                <div data-bind="visible: isLoadingRequest" class="submit-button-loading-container">
                    <img src="img/loading_small.gif" alt="Loading...">
                </div>
                <button class="btn btn-lg btn-primary" data-bind="click: notReadyToSellOnClick, disable: isLoadingRequest">I'm not ready to sell</button>
            </div>
            <div class="submit-button-container col-sm-6">
                <div data-bind="visible: isLoadingRequest" class="submit-button-loading-container">
                    <img src="img/loading_small.gif" alt="Loading...">
                </div>
                <button class="btn btn-lg btn-primary" data-bind="click: shoppingAroundOnClick, disable: isLoadingRequest">I'm shopping around</button>
            </div>
        </div>

        <div class="provide-pickup-info-prompt">
            <p>
                - OR -
            </p>
            <p>
                Do you want to contact us yourself when you've got the chance? Then write down your
                <span class="label label-info">Reference Number</span> and give us a call at
                <span class="label label-success" data-bind="text: contactPhoneNumber"></span>. 
            </p>
        </div>
    </div>

    <div class="submit-button-container">
        <button class="btn btn-lg btn-primary" data-bind="click: getAnotherQuoteOnClick">Get another quote!</button>
    </div>
</div>
