<div>
    <form id="extra_vehicle_info_form">

        <h2>Tell us about the vehicle</h2>

        <div class="form-group">
            <label for="vehicle_has_title">Has title?</label>
            <div>
                <label class="checkbox-inline">
                    <input type="radio" name="vehicle_has_title" id="vehicle_has_title_yes" value="yes" data-bind="checked: vehicleHasTitle"> Yes
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="vehicle_has_title" id="vehicle_has_title_no" value="no" data-bind="checked: vehicleHasTitle"> No
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="vehicle_has_keys">Has keys?</label>
            <div>
                <label class="checkbox-inline">
                    <input type="radio" name="vehicle_has_keys" id="vehicle_has_keys_yes" value="yes" data-bind="checked: vehicleHasKeys"> Yes
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="vehicle_has_keys" id="vehicle_has_keys_no" value="no" data-bind="checked: vehicleHasKeys"> No
                </label>
            </div>
        </div>

            <div class="form-group">
            <label for="wheels_description">Wheels</label>
            <select class="form-control" id="wheels_description" name="wheels_description"
                    data-bind="options: vehicleWheelsDescriptions,
                            value: selectedVehicleWheelsDescription,
                            optionsValue: 'value',
                            optionsText: 'description',
                            optionsCaption: '- Select -'">
            </select>
        </div>

        <div class="form-group">
            <label for="vehicle_will_be_delivered">Will it be delivered to us?</label>
            <div>
                <label class="checkbox-inline">
                    <input type="radio" name="vehicle_will_be_delivered" id="vehicle_will_be_delivered_yes" value="yes" data-bind="checked: vehicleWillBeDelivered"> Yes
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="vehicle_will_be_delivered" id="vehicle_will_be_delivered_no" value="no" data-bind="checked: vehicleWillBeDelivered"> No
                </label>
            </div>
        </div>

        <p class="vehicle-drop-off-address-container" data-bind="visible: shouldDisplayDropOffAddress">
            Thank you! Please deliver the vehicle to this address: <span class="label label-info" data-bind="text: vehicleDropOffAddress"></span>.
        </p>

        <div class="form-group">
            <label for="vehicle_zip_code">Zip Code</label>
            <input type="text" class="form-control" id="vehicle_zip_code" name="vehicle_zip_code"
                data-bind="value: vehicleZipCode" />
        </div>

    </form>

    <div id="extra_vehicle_info_validation_error_container" class="validation-error-alert alert alert-danger alert-dismissable fade in">
        <a class="close" aria-label="close">&times;</a>
    </div>
</div>