<div class="row scripts-manager-container">
    <div class="col-sm-12">
        <h2>Frequently Asked Questions</h2>

        <form id="create_faq_form">

            <div class="form-group">
                <label for="question">Question</label>
                <textarea class="form-control" rows="2" name="question" data-bind="value: newQuestion"></textarea>
            </div>

            <div class="form-group">
                <label for="answer">Answer</label>
                <textarea class="form-control" rows="4" name="answer" data-bind="value: newAnswer"></textarea>
            </div>

            <div class="submit-button-container">
                <div data-bind="visible: isLoadingRequest" class="submit-button-loading-container">
                    <img src="img/loading_small.gif" alt="Loading...">
                </div>
                <button class="btn btn-lg btn-primary" data-bind="click: saveNewFaqOnclick, disable: isLoadingRequest">Create New</button>
            </div>

        </form>

        <div id="faqs_alerts_container" class="faqs-manager-alerts-container"></div>

        <div id="faqs_validation_error_container" class="validation-error-alert alert alert-danger alert-dismissable fade in">
            <a class="close" aria-label="close">&times;</a>
        </div>

        <table class="table" data-bind="visible: faqs().length > 0">
            <thead>
                <tr>
                    <th width="30%">Question</th>
                    <th width="55%">Answer</th>
                    <th width="15%">Action</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: faqs">
                <tr>
                    <th>
                        <div class="form-group" data-bind="css: { 'has-error': !isValid() }">
                            <textarea class="form-control" rows="4" name="question" data-bind="value: question"></textarea>
                        </div>
                    </th>
                    <td>
                        <div class="form-group" data-bind="css: { 'has-error': !isValid() }">
                            <textarea class="form-control" rows="4" name="answer" data-bind="value: answer"></textarea>
                        </div>
                    </td>
                    <td>
                        <div>
                            <button class="btn btn-primary table-action-button" data-bind="click: saveOnClick, disable: isLoadingRequest">Save</button>
                            <button class="btn btn-primary table-action-button" data-bind="click: deleteOnClick, disable: isLoadingRequest">Delete</button>
                        </div>
                        <img class="loading-xhr" data-bind="style: { visibility: isLoadingRequest() ? 'visible' : 'hidden' }" src="img/loading_small.gif" alt="Loading...">
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
