<div class="col-sm-12">

    <form id="pickup_info_form">

        <h2>Where's the vehicle located?</h2>

        <div class="form-group">
            <label for="vehicle_street_address">Street Address</label>
            <input type="text" class="form-control" id="vehicle_street_address" name="vehicle_street_address"
                data-bind="value: vehicleStreetAddress" />
        </div>

        <div class="form-group">
            <label for="vehicle_city">City</label>
            <input type="text" class="form-control" id="vehicle_city" name="vehicle_city"
                data-bind="value: vehicleCity" />
        </div>

        <h2>Who's selling the vehicle?</h2>

        <div class="form-group">
            <label for="seller_name">Seller name</label>
            <input type="text" class="form-control" id="seller_name" name="seller_name"
                data-bind="value: sellerName" />
        </div>

        <div class="form-group">
            <label for="seller_phone_number">Phone number</label>
            <input type="tel" class="form-control" id="seller_phone_number" name="seller_phone_number"
                data-bind="value: sellerPhoneNumber" />
        </div>

        <div class="form-group">
            <label for="seller_email">Email</label>
            <input type="email" class="form-control" id="seller_email" name="seller_email"
                data-bind="value: sellerEmail" />
        </div>

        <h2>How much will you pay?</h2>

        <div class="form-group">
            <label for="buyer_payout">Payout to customer</label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" class="form-control" id="buyer_payout" name="buyer_payout"
                    data-bind="textInput: buyerPayout" />
            </div>
            <p class="input-note">
                This is the amount of money that we will pay your customer for the vehicle.
            </p>
        </div>

        <div class="profit-container">
            <div class="field-label-container">
                <span>Your profit</span>
            </div>
            <div class="field-value-container">
                <span class="label label-success" data-bind="css: profitStatus">
                    <span class="glyphicon glyphicon glyphicon-usd" aria-hidden="true"></span>
                    <span class="field-value" data-bind="text: buyerProfit"></span>
                </span>
            </div>
        </div>

    </form>

    <div id="pickup_info_validation_error_container" class="validation-error-alert alert alert-danger alert-dismissable fade in">
        <a class="close" aria-label="close">&times;</a>
    </div>

    <div class="submit-button-container">
        <div data-bind="visible: isLoadingRequest" class="submit-button-loading-container">
            <img src="img/loading_small.gif" alt="Loading...">
        </div>
        <button class="btn btn-lg btn-primary" data-bind="click: submitPickupInfoOnClick, disable: isLoadingRequest">Submit Pickup Info!</button>
    </div>

</div>