<div class="row">
    <div class="col-sm-12">
        <h2>Quote Calculation Rules</h2>

        <div class="base-prices-change-container">
            <form id="base_price_change_form" class="form-inline">
                <div class="form-group">
                    <label for="base_price_change">Change all base prices by: </label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" class="form-control" name="base_price_change" data-bind="value: basePriceChange">
                    </div>
                </div>
                <button class="btn btn-primary" data-bind="click: changeBasePriceOnclick, disable: isLoadingRequest">Change</button>
                <img class="loading-xhr" data-bind="style: { visibility: isLoadingRequest() ? 'visible' : 'hidden' }" src="img/loading_small.gif" alt="Loading...">
            </form>
        </div>

        <div id="base_price_change_alerts_container"></div>

        <div id="base_price_change_validation_error_container" class="validation-error-alert alert alert-danger alert-dismissable fade in">
            <a class="close" aria-label="close">&times;</a>
        </div>

        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Rule #</th>
                    <th>Vehicle Feature</th>
                    <th>Feature Value</th>
                    <th>Price Modifier</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: quoteCalculationRules">
                <tr>
                    <th>
                        <span data-bind="text: ($index() + 1)"></span>
                    </th>
                    <td>
                        <span data-bind="text: featureType"></span>
                    </td>
                    <td>
                        <span data-bind="text: featureValue"></span>
                    </td>
                    <td>
                        <div class="input-group" data-bind="css: getPriceModifierFieldClass(priceModifier)">
                            <span class="input-group-addon">$</span>
                            <input type="number" class="form-control" name="quote_calculation_rule_price_modifier" data-bind="value: priceModifier">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="quote_calculation_rules_alerts_container"></div>

        <div class="submit-button-container">
            <div data-bind="visible: isLoadingRequest" class="submit-button-loading-container">
                <img src="img/loading_small.gif" alt="Loading...">
            </div>
            <button class="btn btn-lg btn-primary" data-bind="click: saveQuoteCalculationRulesOnclick, disable: isLoadingRequest">Save Quote Calculation Rules</button>
        </div>
    </div>
</div>
