<div class="col-sm-12">

    <h2 class="title">Here is your quote</h2>

    <div class="quote-container">
        <div class="field-value-container">
            <span class="label label-success">
                <span class="glyphicon glyphicon glyphicon-usd" aria-hidden="true"></span>
                <span class="field-value" data-bind="text: calculatedQuote"></span>
            </span>
        </div>
    </div>

    <p class="quote-in-inventory-message">
        We currently have <span data-bind="text: quantityInInventory"></span> of this model in inventory awaiting destruction
    </p>

    <div class="submit-button-container">
        <button class="btn btn-lg btn-primary" data-bind="click: getAnotherQuoteOnClick">Get Another Quote!</button>
    </div>
</div>