<div class="row">
    <div class="col-sm-12">
        <h2>Quote Overrides</h2>

        <form id="quote_override_form">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>From Vehicle Year</th>
                        <th>To Vehicle Year</th>
                        <th>Vehicle Make</th>
                        <th>Vehicle Model</th>
                        <th>Quote</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: quoteOverrides">
                    <tr>
                        <td class="col-md-2">
                            <span data-bind="text: fromVehicleYear"></span>
                        </td>
                        <td class="col-md-2">
                            <span data-bind="text: toVehicleYear"></span>
                        </td>
                        <td class="col-md-3">
                            <span data-bind="text: vehicleMake"></span>
                        </td>
                        <td class="col-md-3">
                            <span data-bind="text: vehicleModel"></span>
                        </td>
                        <td class="col-md-2">
                            <span>$</span>
                            <span data-bind="text: quote"></span>
                        </td>
                        <td class="col-md-2">
                            <button class="btn btn-primary" data-bind="click: deleteOnClick, disable: $parent.isLoadingRequest">Delete</button>
                            <img class="loading-xhr" data-bind="style: { visibility: $parent.isLoadingRequest() ? 'visible' : 'hidden' }" src="img/loading_small.gif" alt="Loading...">
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <select class="form-control" name="from_vehicle_year"
                                data-bind="options: vehicleYears,
                                        value: selectedFromVehicleYear,
                                        optionsCaption: '- Select -'">
                            </select>
                        </td>
                        <td>
                            <select class="form-control" name="to_vehicle_year"
                                data-bind="options: vehicleYears,
                                        value: selectedToVehicleYear,
                                        optionsCaption: '- Select -'">
                            </select>
                        </td>
                        <td>
                            <select class="form-control" name="vehicle_make"
                                data-bind="options: vehicleMakes,
                                        value: selectedVehicleMake,
                                        optionsValue: 'id',
                                        optionsText: 'name',
                                        optionsCaption: '- Select -',
                                        event: { change: vehicleMakeOnSelect }">
                            </select>
                        </td>
                        <td>
                            <select class="form-control" name="vehicle_model"
                                data-bind="options: vehicleModels,
                                        value: selectedVehicleModel,
                                        optionsValue: 'id',
                                        optionsText: 'name',
                                        optionsCaption: '- Select -'">
                            </select>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="number" class="form-control" name="override_quote" data-bind="value: overrideQuote">
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-primary" data-bind="click: saveQuoteOverrideOnclick, disable: isLoadingRequest">Save</button>
                            <img class="loading-xhr" data-bind="style: { visibility: isLoadingRequest() ? 'visible' : 'hidden' }" src="img/loading_small.gif" alt="Loading...">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>

        <div id="quote_override_alerts_container"></div>

        <div id="quote_override_server_validation_error_container"></div>

        <div id="quote_override_validation_error_container" class="validation-error-alert alert alert-danger alert-dismissable fade in">
            <a class="close" aria-label="close">&times;</a>
        </div>
    </div>
</div>
