<div class="col-sm-12">

    <h2 class="title">Here are your quote and ref. number</h2>

    <div class="quote-container">
        <div class="field-label-container">
            <span>Quote</span>
        </div>
        <div class="field-value-container">
            <span class="label label-success">
                <span class="glyphicon glyphicon glyphicon-usd" aria-hidden="true"></span>
                <span class="field-value" data-bind="text: calculatedQuote"></span>
            </span>
        </div>
    </div>

    <p class="quote-disclaimer">
        Quoted price could change upon vehicle inspection
    </p>

    <div class="reference-number-container">
        <div class="field-label-container">
            <span>Reference Number</span>
        </div>
        <div class="field-value-container">
            <span class="label label-info" data-bind="text: referenceNumber"></span>
        </div>
    </div>

    <div class="quote-wrap-up-options-container">
        <div class="provide-pickup-info-prompt">
            <p>
                Do you want us to take it from here? Let us know a few more details and we can deal with the seller directly.
            </p>
        </div>

        <div class="submit-button-container">
            <button class="btn btn-lg btn-primary" data-bind="click: goToNextStepOnClick">Continue</button>
        </div>

        <div class="provide-pickup-info-prompt">
            <p>
                - OR -
            </p>
            <p>
                We can also call you back to get the info we need regarding the seller and pickup.
            </p>
        </div>

        <div class="submit-button-container">
            <div data-bind="visible: isLoadingRequest" class="submit-button-loading-container">
                <img src="img/loading_small.gif" alt="Loading...">
            </div>
            <button class="btn btn-lg btn-primary" data-bind="click: callMeBackOnClick, disable: isLoadingRequest">Yes, call me back</button>
        </div>

        <div class="provide-pickup-info-prompt">
            <p>
                - OR -
            </p>
            <p>
                Do you want to contact us yourself when you've got the chance? Then write down your
                <span class="label label-info">Reference Number</span> and give us a call at
                <span class="label label-success" data-bind="text: contactPhoneNumber"></span>. 
            </p>
        </div>
    </div>

    <div class="submit-button-container">
        <button class="btn btn-lg btn-primary" data-bind="click: getAnotherQuoteOnClick">Get Another Quote!</button>
    </div>
</div>
