<div class="col-sm-12">

    <h2 class="title">Thank you for giving us all the info!</h2>

    <div class="provide-pickup-info-prompt">
        <p>
            Don't forget to take note of your <span class="label label-info">Reference Number</span>
        </p>
    </div>

    <div class="reference-number-container">
        <div class="field-label-container">
            <span>Reference Number</span>
        </div>
        <div class="field-value-container">
            <span class="label label-info" data-bind="text: referenceNumber"></span>
        </div>
    </div>

    <div class="provide-pickup-info-prompt">
        <p>
            Want to get another quote? Click the button below. 
        </p>
    </div>

    <div class="submit-button-container">
        <button class="btn btn-lg btn-primary" data-bind="click: getAnotherQuoteOnClick">Get Another Quote!</button>
    </div>

</div>