body {
    /*padding-top: 50px;*/
    padding-bottom: 0px;
    background-image: url(../img/bg.png);
    background-repeat: repeat;
}

nav.navbar-no-margin {
    margin: 0px;
}

/* .zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
} 

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}
*/

div.about-us-content {
    margin: 20px;
    font-size: 20px;
    text-align: justify;
}

div.about-us-content h2 {
    text-align: center;
    margin: 30px 0;
}

div.about-us-content ol li {
    margin: 15px 0;
}

div.container.content {
    background-color: rgba(255, 255, 255, 0.70);
    box-shadow: 0px 0px 10px 0px #666;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

div.full-screen-overlay {
    /*opacity: 0.5; */
    background: #FFF;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
}

div.full-screen-overlay div.loading-container {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

@media only screen and (max-width: 800px) {
    div.full-screen-overlay div.loading-container {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 600px) {
    div.full-screen-overlay div.loading-container {
        margin-top: 30%;
    }
}

div.full-screen-overlay div.loading-container img {
    width: 200px;
    height: 200px;
}

div.margin-sides {
    margin: 0px 20%;
}

@media only screen and (max-width: 600px) {
    div.margin-sides {
        margin: 0px 0px;
    }
}

@media only screen and (max-width: 400px) {
    a.navbar-brand span.app-title {
        display: none;
    }
}

div.alert {
    text-align: center;
}

div.validation-error-alert {
    display: none;
    margin-top: 10px;
}

div.step-buttons-container {
    position: relative;
    height: 50px;
}

div.step-buttons-container button.previous-step {
    position: absolute;
    left: 10px;
}

div.step-buttons-container button.next-step {
    position: absolute;
    right: 10px;
}

div.step-buttons-container div.loading-container {
    position: absolute;
    right: -40px;
    margin: 5px 0;
}

div.step-buttons-container div.loading-container img {
    height: 40px
}

div.submit-button-container {
    text-align: center;
}

p.vehicle-drop-off-address-container span.label {
    font-size: 100%;
}

div.terminal-step h2.title {
    text-align: center;
}

div.terminal-step div.quote-container {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
}

div.terminal-step div.quote-container div.field-label-container,
div.terminal-step div.reference-number-container div.field-label-container {
    margin-bottom: 15px;
    font-size: x-large;
}

div.terminal-step div.quote-container div.field-value-container span.label,
div.terminal-step div.reference-number-container div.field-value-container span.label {
    font-size: xx-large;
}

div.terminal-step div.quote-container div.field-value-container span.label span.glyphicon {
    position: relative;
    top: 7px;
}

div.terminal-step div.quote-container div.field-value-container span.label span.field-value {
    position: relative;
    top: 2px;
}

div.terminal-step div.reference-number-container {
    text-align: center;
    padding: 30px 0px 50px 0px;
    border-bottom: 1px solid #DDD;
    margin-bottom: 35px;
}

p.quote-disclaimer, p.quote-in-inventory-message {
    text-align: center;
    color: #666;
}

p.quote-in-inventory-message {
    border-bottom: 1px solid #DDD;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

div.profit-container {
    text-align: center;
    padding: 30px 0px 50px 0px;
    border-bottom: 1px solid #DDD;
    margin-bottom: 35px;
}
div.profit-container div.field-label-container {
    margin-bottom: 15px;
    font-size: x-large;
}
div.profit-container div.field-value-container span.label {
    font-size: xx-large;
}
div.profit-container div.field-value-container span.label span.glyphicon {
    position: relative;
    top: 7px;
}
div.profit-container div.field-value-container span.label span.field-value {
    position: relative;
    top: 2px;
}

div.quote-wrap-up-options-container {
    border-bottom: 1px solid #DDD;
    margin-bottom: 30px;
}

div.provide-pickup-info-prompt {
    margin: 25px 0px;
    text-align: center;
    font-size: large;
}

div.quote-wrap-up-options-container span.label {
    font-size: 100%;
    display: inline-block;
    margin: 1px 0px;
}




/* div#validation_alerts_container, div#alerts_container {
    position: fixed;
    z-index: 99;
    width: 70%;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
}

div#validation_alerts_container {
    top: 65px;
}

div#alerts_container {
    bottom: 65px;
} */

div.alert ul {
    list-style: none;
    padding: 0;
}

div.submit-button-loading-container {
    margin: 20px 0;
}

div.submit-button-loading-container img {
    height: 40px
}

img.loading-xhr {
    height: 30px
}

p.input-note {
    color: #666;
    margin-top: 5px;
}

div.admin-section {
    margin: 25px;
    border-radius: 0 0 20px 20px;
}

div.admin-section-tab-content {
    padding: 20px;
    background-color: white;
    border-radius: 0 0 20px 20px;
}

.has-info .form-control {
    border-color: #31708f;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-info .input-group-addon {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #31708f;
}

div.admin-overall-alerts-container {
    position: fixed;
    width: 50%;
    z-index: 99;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
}

div.base-prices-change-container {
    margin: 10px 0;
}

div.download-coverage-button-container {
    float: right;
    margin-top: 10px;
}

div.floating-alert-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

div.vehicle-type-img-container {
    text-align: center;
    margin-bottom: 10px;
}

div.vehicle-type-img-container img {
    border: 3px solid #a0cf99;
    border-radius: 25px;
}

div.faqs-manager-alerts-container {
    margin: 20px 0px;
}

.table-action-button {
    margin: 3px 0px;
}

footer {
    text-align: center;
    margin: 60px;
}

div.edmunds-logo-container {
    text-align: center;
    margin: 10px;
}

div.vehicle-type-loading-container {
    text-align: center;
    margin: 10px;
}

div.vehicle-type-loading-container img {
    height: 40px
}
