<?php
    $this->headTitle('Thank You');
?>

<div class="row">
    <div class="col-md-offset-4 col-md-5">
        <h1>Reset Password</h1>
        <p>
            A password reset link has been sent to your email address. Look for the subject "CSAR Quote Tool Password Reset".
        </p>
    </div>
</div>
