<?php
    $this->headTitle('Register User');

    $form->get('email')->setAttributes([
        'class'=>'form-control', 
        'placeholder'=>'name@example.com'
    ]);

    $form->get('first_name')->setAttributes([
        'class'=>'form-control', 
        'placeholder'=>'John'
    ]);

    $form->get('last_name')->setAttributes([
        'class'=>'form-control', 
        'placeholder'=>'Doe'
    ]);

    $form->get('company_name')->setAttributes([
        'class'=>'form-control', 
        'placeholder'=>'Company Inc.'
    ]);

    $form->get('company_address')->setAttributes([
        'class'=>'form-control', 
        'placeholder'=>'123 Main St. Tampa, FL 33601'
    ]);

    $form->get('phone_number')->setAttributes([
        'class'=>'form-control', 
        'placeholder'=>'555-555-5555'
    ]);

    $form->get('payment_method')->setAttributes([
        'class'=>'form-control', 
        'placeholder'=>'Preferred Payment Method'
    ]);

    $form->get('password')->setAttributes([
        'class'=>'form-control'
    ]);

    $form->get('confirm_password')->setAttributes([
        'class'=>'form-control'
    ]);

    $form->get('submit')->setAttributes(['class'=>'btn btn-primary']);

    $form->prepare();
?>

<h1>Register</h1>

<p>
    Please fill out the following form and click the <i>Register</i> button.
</p>

<div class="row">
    <div class="col-md-6">
        <?= $this->form()->openTag($form); ?>

        <?php if ($isError): ?>
            <div class="alert alert-danger" role="alert">
                <?php if ($errorMessage): ?>
                    <?= $errorMessage ?>
                <?php endif; ?>
                <?= $this->formElementErrors($form->get('email')); ?>
                <?= $this->formElementErrors($form->get('first_name')); ?>
                <?= $this->formElementErrors($form->get('last_name')); ?>
                <?= $this->formElementErrors($form->get('company_name')); ?>
                <?= $this->formElementErrors($form->get('company_address')); ?>
                <?= $this->formElementErrors($form->get('phone_number')); ?>
                <?= $this->formElementErrors($form->get('payment_method')); ?>
                <?= $this->formElementErrors($form->get('password')); ?>
                <?= $this->formElementErrors($form->get('confirm_password')); ?>
            </div>
        <?php endif; ?>

        <div class="form-group">
            <?= $this->formLabel($form->get('email')); ?>
            <?= $this->formElement($form->get('email')); ?>
            <p class="help-block">This will be your login user name</p>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('first_name')); ?>
            <?= $this->formElement($form->get('first_name')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('last_name')); ?>
            <?= $this->formElement($form->get('last_name')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('company_name')); ?>
            <?= $this->formElement($form->get('company_name')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('company_address')); ?>
            <?= $this->formElement($form->get('company_address')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('phone_number')); ?>
            <?= $this->formElement($form->get('phone_number')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('payment_method')); ?>
            <?= $this->formElement($form->get('payment_method')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('password')); ?>
            <?= $this->formElement($form->get('password')); ?>
            <p class="help-block">This will be your login password</p>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('confirm_password')); ?>
            <?= $this->formElement($form->get('confirm_password')); ?>
        </div>

        <?= $this->formElement($form->get('submit')); ?>

        <?= $this->form()->closeTag(); ?>
    </div>
</div>

<script src="<?= $this->basePath('js/lib/jquery.js') ?>"></script>
<script src="<?= $this->basePath('js/lib/bootstrap.js') ?>"></script>