<?php
$this->headTitle('Thank You');
?>

<div class="row">
    <div class="col-md-offset-4 col-md-5">
        <h1>Thank you for registering with us</h1>
        <p>
            Return to <a href="<?= $this->url('login'); ?>">login page</a>.
        </p>
    </div>
</div>

<script src="<?= $this->basePath('js/lib/jquery.js') ?>"></script>
<script src="<?= $this->basePath('js/lib/bootstrap.js') ?>"></script>