<?php

    $this->headTitle('Reset Password');

    $form->get('email')->setAttributes([
        'class'=>'form-control', 
        'placeholder'=>'Email address'
    ]);

    $form->get('submit')->setAttributes([
        'class'=>'btn btn-large btn-primary'
    ]);

    $form->prepare();

?>

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <?= $this->form()->openTag($form); ?>

        <h2>Reset Password</h2>

        <p>Enter your e-mail address below to reset your password</p>

        <div class="form-group">
            <?= $this->formLabel($form->get('email')); ?>
            <?= $this->formElement($form->get('email')); ?>
        </div>

        <div class="form-group">
            <?= $this->formElement($form->get('captcha')); ?>
            <p class="hint">Enter the letters above as you see them.</p>
        </div>

        <?php if ($isError): ?>
            <div class="alert alert-danger" role="alert">
                <?php if ($errorMessage): ?>
                    <?= $errorMessage ?>
                <?php endif; ?>
                <?= $this->formElementErrors($form->get('email')); ?>
                <?= $this->formElementErrors($form->get('captcha')); ?>
            </div>
        <?php endif; ?>

        <?= $this->formElement($form->get('submit')); ?>

        <?= $this->formElement($form->get('csrf')); ?>

        <?= $this->form()->closeTag(); ?>
    </div>
</div>

<script src="<?= $this->basePath('js/lib/jquery.js') ?>"></script>
<script src="<?= $this->basePath('js/lib/bootstrap.js') ?>"></script>
