<?php
$this->headTitle('Set New Password');

$form->get('new_password')->setAttributes([
    'class'=>'form-control', 
    'placeholder'=>'Type New Password'
]);
$form->get('confirm_new_password')->setAttributes([
    'class'=>'form-control', 
    'placeholder'=>'Confirm New Password'
]);
$form->get('submit')->setAttributes([
    'class'=>'btn btn-primary'
]);
$form->prepare();
?>

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <?= $this->form()->openTag($form); ?>

        <h2>Set New Password</h2>

        <p>Enter your new password in the form below</p>

        <div class="form-group">
            <?= $this->formLabel($form->get('new_password')); ?>
            <?= $this->formElement($form->get('new_password')); ?>
        </div>
        
        <div class="form-group">
            <?= $this->formLabel($form->get('confirm_new_password')); ?>
            <?= $this->formElement($form->get('confirm_new_password')); ?>
        </div>

        <?php if ($isError): ?>
            <div class="alert alert-danger" role="alert">
                <?php if ($errorMessage): ?>
                    <?= $errorMessage ?>
                <?php endif; ?>
                <?= $this->formElementErrors($form->get('new_password')); ?>
                <?= $this->formElementErrors($form->get('confirm_new_password')); ?>
            </div>
        <?php endif; ?>

        <?= $this->formElement($form->get('submit')); ?>

        <?= $this->formElement($form->get('csrf')); ?>

        <?= $this->form()->closeTag(); ?>
    </div>

</div>

