<?php
    $this->headTitle('Thank You');
?>

<div class="row">
    <div class="col-md-offset-4 col-md-5">
        <h1>Reset Password</h1>
        <p>
            Your new password has been set successfully.
        </p>
        <p>
            Return to <a href="<?= $this->url('login'); ?>">login page</a>.
        </p>
    </div>
</div>
