<?php $user = $this->identity() ?>

<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Developed in <?= date('Y') ?> by Superlative Labs -->
        <?= $this->headTitle('Core Support Vehicle Quote Tool')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/png', 'href' => $this->basePath() . '/img/favicon.png'])
            ->prependStylesheet($this->basePath('css/style.css'))
            // ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
            ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
        ?>

        <!-- Scripts -->
        <!-- Lets leave the loading of scripts to Require.js -->
        <!--  $this->headScript()
            ->prependFile($this->basePath('js/lib/bootstrap.js'))
            ->prependFile($this->basePath('js/lib/jquery.js'))
         -->

        <!-- Global site tag (gtag.js) - Google AdWords: 811722817 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-811722817"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'AW-811722817');
        </script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top navbar-no-margin" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php
                            if ($user) {
                                if ($user->role === "Vendor") {
                                    echo $this->url('vendor');
                                }
                                else if ($user->role === "StreetSalesTeam") {
                                    echo $this->url('sales');
                                }
                                else if ($user->role === "Administrator") {
                                    echo $this->url('admin');
                                }
                            }
                            else {
                                echo $this->url('home');
                            }
                        ?>">
                        <img src="<?= $this->basePath('img/csar-logo.png') ?>" height="28" alt="Core Support Automotive Recycling"/>
                        <span class="app-title hidden-xs hidden-sm hidden-md">Vehicle Quote Tool</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">About us <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="<?= $this->url('coverage') ?>">Coverage</a></li>
                                <li><a href="<?= $this->url('faq') ?>">FAQ</a></li>
                                <li><a href="<?= $this->url('terms') ?>">Terms and Conditions</a></li>
                                <li><a href="<?= $this->url('privacy') ?>">Privacy Policy</a></li>
                                <?php if ($user): ?>
                                    <li><a href="tel:<?= $this->contactPhoneNumber() ?>">Call us: <?= $this->contactPhoneNumber() ?></a></li>
                                <?php else: ?>
                                    <li><a href="tel:813-324-1479">Call us: 813-324-1479</a></li>
                                <?php endif; ?>
                            </ul>
                        </li>

                        <?php if ($user): ?>
                            <?php if ($user->role === "Vendor"): ?>
                                <li><a href="<?= $this->url('vendor') ?>">Home</a></li>
                            <?php elseif ($user->role === "StreetSalesTeam"): ?>
                                <li><a href="<?= $this->url('sales') ?>">Home</a></li>
                            <?php elseif ($user->role === "Administrator"): ?>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Enter as <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="<?= $this->url('vendor') ?>">Vendor</a></li>
                                        <li><a href="<?= $this->url('sales') ?>">Sales Team</a></li>
                                        <li><a href="<?= $this->url('customer') ?>">Customer</a></li>
                                    </ul>
                                </li>
                                <li><a href="<?= $this->url('admin') ?>">Control Panel</a></li>
                            <?php endif; ?>
                        <?php endif; ?>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <?php if ($user): ?>
                            <li><a href="<?= $this->url('logout') ?>"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        <?php else: ?>
                            <li><a href="<?= $this->url('register') ?>"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="<?= $this->url('login') ?>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <?php endif; ?>
                    </ul>

                    <?php if ($user): ?>
                        <p class="navbar-text navbar-right">Hello <strong><?= $user->firstName ?> <?= $user->lastName ?></strong></p>
                    <?php endif; ?>

                </div>
            </div>
        </nav>
        <div class="container content">
            <?= $this->content ?>
            <hr>
            <!-- <footer>
                <p>&copy; <?= date('Y') ?> by Superlative Labs</p>
            </footer> -->
        </div>
        <?= $this->inlineScript() ?>

        <script type="text/javascript" src="//cdn.callrail.com/companies/420139538/f1ceafd8c008e78ce2f8/12/swap.js"></script>
    </body>
</html>
