<script data-main="js/admin.main" src="js/lib/require.js"></script>

<div id="overlay" class="full-screen-overlay">
    <div class="loading-container">
        <img src="img/loading_icon.gif" alt="Loading...">
    </div>
</div>

<div id="alerts_container" class="admin-overall-alerts-container"></div>

<div class="admin-section">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#app_settings" aria-controls="Application Settings" role="tab" data-toggle="tab">Application Settings</a>
        </li>
        <li role="presentation">
            <a href="#quote_calculation_rules" aria-controls="Quote Calculation Rules" role="tab" data-toggle="tab">Quote Calculation Rules</a>
        </li>
        <li role="presentation">
            <a href="#quote_overrides" aria-controls="Quote Overrides" role="tab" data-toggle="tab">Quote Overrides</a>
        </li>
        <li role="presentation">
            <a href="#faqs" aria-controls="FAQs" role="tab" data-toggle="tab">FAQs</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content admin-section-tab-content">
        <div role="tabpanel" class="tab-pane active" id="app_settings">
            <app-settings
                params="vehicleDropOffAddress: vehicleDropOffAddress,
                        contactPhoneNumber: contactPhoneNumber,
                        alertsManager: alertsManager,
                        configurationApiClient: configurationApiClient">
            </app-settings>
        </div>

        <div role="tabpanel" class="tab-pane" id="quote_calculation_rules">
            <quote-calculation-rules
                params="quoteCalculationRules: quoteCalculationRules,
                        alertsManager: alertsManager,
                        configurationApiClient: configurationApiClient">
            </quote-calculation-rules>
        </div>

        <div role="tabpanel" class="tab-pane" id="quote_overrides">
            <quote-overrides
                params="quoteOverrides: quoteOverrides,
                        vehicleYears: vehicleYears,
                        vehicleMakes: vehicleMakes,
                        alertsManager: alertsManager,
                        configurationApiClient: configurationApiClient,
                        vehicleMakeApiClient: vehicleMakeApiClient">
            </quote-overrides>
        </div>

        <div role="tabpanel" class="tab-pane" id="faqs">
            <faqs-manager
                params="faqs: faqs,
                        alertsManager: alertsManager,
                        faqApiClient: faqApiClient">
            </faqs-manager>
        </div>
    </div>

</div>
