
<script data-main="<?= $this->basePath('js/customer.main') ?>" src="<?= $this->basePath('js/lib/require.js') ?>"></script>

<div id="overlay" class="full-screen-overlay">
    <div class="loading-container">
        <img src="img/loading_icon.gif" alt="Loading...">
    </div>
</div>

<div class="customer-content">

<div id="basic_vehicle_info_container" class="row step margin-sides" data-bind="visible: shouldDisplayBasicVehicleInfoStep">
    <basic-vehicle-info
        params="alertsManager: alertsManager,
                vehicleMakeApiClient: vehicleMakeApiClient,
                vehicleYears: vehicleYears,
                vehicleMakes: vehicleMakes,
                vehicleTypes: vehicleTypes,
                selectedVehicleYear: selectedVehicleYear,
                selectedVehicleMake: selectedVehicleMake,
                selectedVehicleModel: selectedVehicleModel,
                selectedVehicleTypeId: selectedVehicleTypeId">
    </basic-vehicle-info>
</div>

<div id="extra_vehicle_info_container" class="row step margin-sides" data-bind="visible: shouldDisplayExtraVehicleInfoStep">
    <div class="col-sm-12">

        <extra-vehicle-info
            params="vehicleHasKeys: vehicleHasKeys,
                    vehicleHasTitle: vehicleHasTitle,
                    selectedVehicleWheelsDescription: selectedVehicleWheelsDescription,
                    vehicleWillBeDelivered: vehicleWillBeDelivered,
                    vehicleZipCode: vehicleZipCode,
                    vehicleDropOffAddress: vehicleDropOffAddress">
        </extra-vehicle-info>

        <div id="extra_vehicle_info_server_validation_error_container"></div>

    </div>
</div>

<div id="contact_info_container" class="row step margin-sides" data-bind="visible: shouldDisplayContactInfoStep">
    <div class="col-sm-12">

        <contact-info
            params="sellerName: sellerName,
                    sellerPhoneNumber: sellerPhoneNumber,
                    sellerEmail: sellerEmail">
        </contact-info>

        <div class="submit-button-container">
            <div data-bind="visible: isLoadingRequest" class="submit-button-loading-container">
                <img src="img/loading_small.gif" alt="Loading...">
            </div>
            <button class="btn btn-lg btn-primary" data-bind="click: getQuoteOnClick, disable: isLoadingRequest">Get Quote!</button>
        </div>

    </div>
</div>

<div id="quote_created_container" class="row step margin-sides terminal-step" data-bind="visible: shouldDisplayQuoteCreatedStep">
    <customer-quote-created
        params="isLoadingRequest: isLoadingRequest,
                calculatedQuote: calculatedQuote,
                referenceNumber: referenceNumber,
                contactPhoneNumber: contactPhoneNumber,
                vehicleStreetAddress: vehicleStreetAddress,
                vehicleCity: vehicleCity,
                submitLocationInfoOnClick: submitLocationInfoOnClick,
                callMeBackOnClick: callMeBackOnClick,
                notReadyToSellOnClick: notReadyToSellOnClick,
                shoppingAroundOnClick: shoppingAroundOnClick,
                getAnotherQuoteOnClick: getAnotherQuoteOnClick">
    </customer-quote-created>
</div>

<div id="quote_accepted_container" class="row step margin-sides terminal-step" data-bind="visible: shouldDisplayQuoteAcceptedStep"> 
    <div class="col-sm-12">

        <h2 class="title">Thank you for doing business with us!</h2>

        <div class="provide-pickup-info-prompt">
            <p>
                We'll call you back as soon as we can to schedule the inspection of your vehicle.
            </p>
            <p>
                Don't forget to take note of your <span class="label label-info">Reference Number</span>
            </p>
        </div>

        <ref-number-confirmation 
            params="referenceNumber: referenceNumber,
                    getAnotherQuoteOnClick: getAnotherQuoteOnClick">
        </ref-number-confirmation>

    </div>
</div>

<div id="will_call_back_container" class="row step margin-sides terminal-step" data-bind="visible: shouldDisplayWillCallBackStep"> 
    <div class="col-sm-12">

        <h2 class="title">Thank you for getting a quote from us!</h2>

        <div class="provide-pickup-info-prompt">
            <p>
                We will call you back as soon as possible to get the remaining location info.
            </p>
            <p>
                Don't forget to take note of your <span class="label label-info">Reference Number</span>
            </p>
        </div>

        <ref-number-confirmation 
            params="referenceNumber: referenceNumber,
                    getAnotherQuoteOnClick: getAnotherQuoteOnClick">
        </ref-number-confirmation>

    </div>
</div>

<div id="not_ready_container" class="row step margin-sides terminal-step" data-bind="visible: shouldDisplayNotReadyStep"> 
    <div class="col-sm-12">

        <h2 class="title">Not ready to sell yet? No problem!</h2>

        <div class="provide-pickup-info-prompt">
            <p>
                We will keep your quoted price in our system and follow up with you within the next few of days.
                Thank you so much for calling us, we look forward to earning your business. Have a great day.
            </p>
            <p>
                Don't forget to take note of your <span class="label label-info">Reference Number</span>
            </p>
        </div>

        <ref-number-confirmation 
            params="referenceNumber: referenceNumber,
                    getAnotherQuoteOnClick: getAnotherQuoteOnClick">
        </ref-number-confirmation>

    </div>
</div>

<div id="still_shopping_container" class="row step margin-sides terminal-step" data-bind="visible: shouldDisplayStillShoppingStep"> 
    <div class="col-sm-12">

        <h2 class="title">Still shopping around? That's fine.</h2>

        <div class="provide-pickup-info-prompt">
            <p>
                We do offer the best prices and give you cash on the spot unlike most of the other companies.
                Please let us know if you find a better deal anywhere else and we would be happy to try and price match.
                We look forward to earning your business.
            </p>
            <p>
                Don't forget to take note of your <span class="label label-info">Reference Number</span>
            </p>
        </div>

        <ref-number-confirmation 
            params="referenceNumber: referenceNumber,
                    getAnotherQuoteOnClick: getAnotherQuoteOnClick">
        </ref-number-confirmation>

    </div>
</div>

<div id="alerts_container" class="floating-alert-container"></div>

<div class="row margin-sides">
    <div class="step-buttons-container" data-bind="visible: shouldDisplayStepButtonsContainer">
        <button class="btn btn-lg btn-primary previous-step"
                data-bind="click: goToPreviousStepOnClick, visible: shouldDisplayPreviousStepButton, disable: isLoadingRequest">< Prev</button>
        <button class="btn btn-lg btn-primary next-step"
                data-bind="click: goToNextStepOnClick, visible: shouldDisplayNextStepButton, disable: isLoadingRequest">Next ></button>
        <div data-bind="visible: isLoadingRequest" class="loading-container">
            <img src="img/loading_small.gif" alt="Loading...">
        </div>
    </div>
</div>

</div>
