<div id="alerts_container" class="admin-overall-alerts-container"></div>

<div class="admin-section">

    <div class="row">
        <div class="col-sm-12">

            <h2>Fequently Asked Questions</h2>

            <?php foreach ($faqs as $faq): ?>
                <div>
                    <h3><?= $faq->question ?></h3>
                    <p><?= $faq->answer ?></p>
                </div>
            <?php endforeach; ?>

        </div>
    </div>

</div>

<script src="<?= $this->basePath('js/lib/jquery.js') ?>"></script>
<script src="<?= $this->basePath('js/lib/bootstrap.js') ?>"></script>