<?php
$this->headTitle('Get a quote');
?>

<div class="about-us-content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <h2>Thank you for choosing us! <br> Just click the button below to get your quote. <br> It takes less than five minutes!</h2>

            <div class="submit-button-container">
                <a class="btn btn-lg btn-primary" href="<?= $this->url('customer') ?>">I want to get a quote!</a>
            </div>

            <h2>Why Core Support?</h2>
            <p>
                There's a lot of competition out there when it comes to cars, so why go with us? It's simple:
            </p>
            <ol>
                <li>
                    We pay the <strong>MOST CASH</strong>. Our <strong>TOP DOLLAR</strong> guarantee never fails!
                </li>
                <li>
                    We'll <strong>NEVER</strong> charge you for a tow. Other companies will charge you up to $50 
                    to get rid of that junk car on your lawn. Don't let the county or the homeowner's association 
                    make money off of you. They can charge you up to $<strong>75 PER DAY </strong>if they tow your 
                    car away. Instead, <strong>GET PAID FOR YOUR CAR!</strong>
                </li>
                <li>
                    <strong>CASH. COLD HARD CASH!</strong> That is how we pay you. Don't let competitors fool 
                    you with next day payment or checks! We pay you <strong>THE SAME DAY IN CASH, GUARANTEED!</strong>
                </li>
                <li>
                    We'll do all the heavy lifting! Our buyers will come to you rain, snow, sun, or shine, and do all 
                    the paperwork, arrange for the towing, and give you your cash. All you need is your driver's license. 
                    Most scrap yards require you to bring the car to them yourself before you'll get paid, but the worst 
                    part is they'll <strong>PAY YOU LESS THAN US</strong>. Why waste time or money trying to get the car 
                    down there or arrange for a tow truck when we'll do it all for you and <strong>PAY YOU FOR IT</strong>?
                </li>
                <li>
                    Out of every automotive recycler in Florida, we have the <strong>BIGGEST SERVICE RANGE! </strong>We 
                    service Hillsborough, Pasco, Pinellas, and Hernando counties.
                </li>
                <li>
                    We're pros at this! We aren't just some guy with a heavy truck and a trailer. Our tow trucks are 
                    <strong>insured, licensed, bonded, and all have at least 10 years experience</strong> in what they 
                    do! Our buyers aren't just salesmen in cheap suits hired to make you take less money. All of our 
                    buyers have experience in the automotive field and know what your car is worth!
                </li>
            </ol>

            <div class="submit-button-container">
                <a class="btn btn-lg btn-primary" href="<?= $this->url('customer') ?>">I want to get a quote!</a>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<footer>
    <!-- <p>&copy; <?= date('Y') ?> by Superlative Labs</p>-->
    <a href="<?= $this->url('terms') ?>">Terms and Conditions</a> | <a href="<?= $this->url('privacy') ?>">Privacy Policy</a>
</footer> 

<script src="<?= $this->basePath('js/lib/jquery.js') ?>"></script>
<script src="<?= $this->basePath('js/lib/bootstrap.js') ?>"></script>