<script data-main="js/sales.main" src="js/lib/require.js"></script>

<div id="overlay" class="full-screen-overlay">
    <div class="loading-container">
        <img src="img/loading_icon.gif" alt="Loading...">
    </div>
</div>

<div class="sales-content">

<div id="basic_vehicle_info_container" class="row step margin-sides" data-bind="visible: shouldDisplayBasicVehicleInfoStep">
    <basic-vehicle-info
        params="alertsManager: alertsManager,
                vehicleMakeApiClient: vehicleMakeApiClient,
                vehicleYears: vehicleYears,
                vehicleMakes: vehicleMakes,
                vehicleTypes: vehicleTypes,
                selectedVehicleYear: selectedVehicleYear,
                selectedVehicleMake: selectedVehicleMake,
                selectedVehicleModel: selectedVehicleModel,
                selectedVehicleTypeId: selectedVehicleTypeId">
    </basic-vehicle-info>
</div>

<div id="extra_vehicle_info_container" class="row step margin-sides" data-bind="visible: shouldDisplayExtraVehicleInfoStep">
    <div class="col-sm-12">

        <extra-vehicle-info
            params="vehicleHasKeys: vehicleHasKeys,
                    vehicleHasTitle: vehicleHasTitle,
                    selectedVehicleWheelsDescription: selectedVehicleWheelsDescription,
                    vehicleWillBeDelivered: vehicleWillBeDelivered,
                    vehicleZipCode: vehicleZipCode,
                    vehicleDropOffAddress: vehicleDropOffAddress">
        </extra-vehicle-info>

        <div id="extra_vehicle_info_server_validation_error_container"></div>

        <div class="submit-button-container">
            <div data-bind="visible: isLoadingRequest" class="submit-button-loading-container">
                <img src="img/loading_small.gif" alt="Loading...">
            </div>
            <button class="btn btn-lg btn-primary" data-bind="click: getQuoteOnClick, disable: isLoadingRequest">Get Quote!</button>
        </div>

    </div>
</div>

<div id="quote_calculated_container" class="row step margin-sides terminal-step" data-bind="visible: shouldDisplayQuoteCalculatedStep">
    <quote-calculated
        params="calculatedQuote: calculatedQuote">
    </quote-calculated>
</div>

<div id="alerts_container"></div>

<div class="row margin-sides">

    <div class="step-buttons-container" data-bind="visible: shouldDisplayStepButtonsContainer">
        <button class="btn btn-lg btn-primary previous-step" data-bind="click: goToPreviousStepOnClick, visible: shouldDisplayPreviousStepButton">< Prev</button>
        <button class="btn btn-lg btn-primary next-step" data-bind="click: goToNextStepOnClick, visible: shouldDisplayNextStepButton">Next ></button>
    </div>

</div>

</div>
