<script data-main="js/vendor.main" src="js/lib/require.js"></script>

<div id="overlay" class="full-screen-overlay">
    <div class="loading-container">
        <img src="img/loading_icon.gif" alt="Loading...">
    </div>
</div>

<div class="vendor-content">

<div id="basic_vehicle_info_container" class="row step margin-sides" data-bind="visible: shouldDisplayBasicVehicleInfoStep">
    <basic-vehicle-info
        params="alertsManager: alertsManager,
                vehicleMakeApiClient: vehicleMakeApiClient,
                vehicleYears: vehicleYears,
                vehicleMakes: vehicleMakes,
                vehicleTypes: vehicleTypes,
                selectedVehicleYear: selectedVehicleYear,
                selectedVehicleMake: selectedVehicleMake,
                selectedVehicleModel: selectedVehicleModel,
                selectedVehicleTypeId: selectedVehicleTypeId">
    </basic-vehicle-info>
</div>

<div id="extra_vehicle_info_container" class="row step margin-sides" data-bind="visible: shouldDisplayExtraVehicleInfoStep">
    <div class="col-sm-12">
        <extra-vehicle-info
            params="vehicleHasKeys: vehicleHasKeys,
                    vehicleHasTitle: vehicleHasTitle,
                    selectedVehicleWheelsDescription: selectedVehicleWheelsDescription,
                    vehicleWillBeDelivered: vehicleWillBeDelivered,
                    vehicleZipCode: vehicleZipCode,
                    vehicleDropOffAddress: vehicleDropOffAddress">
        </extra-vehicle-info>

        <div id="extra_vehicle_info_server_validation_error_container"></div>

        <div class="submit-button-container">
            <div data-bind="visible: isLoadingRequest" class="submit-button-loading-container">
                <img src="img/loading_small.gif" alt="Loading...">
            </div>
            <button class="btn btn-lg btn-primary" data-bind="click: getQuoteOnClick, disable: isLoadingRequest">Get Quote!</button>
        </div>

    </div>
</div>

<div id="transaction_created_container" class="row step margin-sides terminal-step" data-bind="visible: shouldDisplayQuoteCreatedStep">
    <transaction-created
        params="alertsManager: alertsManager,
                quoteApiClient: quoteApiClient,
                calculatedQuote: calculatedQuote,
                referenceNumber: referenceNumber,
                contactPhoneNumber: contactPhoneNumber,
                isLoadingRequest: isLoadingRequest,
                goToNextStepOnClick: goToNextStepOnClick,
                getAnotherQuoteOnClick: getAnotherQuoteOnClick,
                notifyCallbackVendorOnSuccess: notifyCallbackVendorOnSuccess">
    </transaction-created>
</div>

<div id="pickup_info_container" class="row step margin-sides" data-bind="visible: shouldDisplayPickupInfoStep">
    <pickup-info
        params="vehicleStreetAddress: vehicleStreetAddress,
                vehicleCity: vehicleCity,
                sellerName: sellerName,
                sellerPhoneNumber: sellerPhoneNumber,
                sellerEmail: sellerEmail,
                calculatedQuote: calculatedQuote,
                buyerPayout: buyerPayout,
                isLoadingRequest: isLoadingRequest,
                submitPickupInfoOnClick: submitPickupInfoOnClick">
    </pickup-info>
</div>

<div id="transaction_updated_container" class="row step margin-sides terminal-step" data-bind="visible: shouldDisplayQuoteUpdatedStep"> 
    <transaction-updated
        params="referenceNumber: referenceNumber,
                getAnotherQuoteOnClick: getAnotherQuoteOnClick">
    </transaction-updated>
</div>

<div id="will_call_back_container" class="row step margin-sides terminal-step" data-bind="visible: shouldDisplayWillCallBackStep"> 
    <will-call-back
        params="referenceNumber: referenceNumber,
                getAnotherQuoteOnClick: getAnotherQuoteOnClick">
    </will-call-back>
</div>

<div id="alerts_container"></div>

<div class="row margin-sides">

    <div class="step-buttons-container" data-bind="visible: shouldDisplayStepButtonsContainer">
        <button class="btn btn-lg btn-primary previous-step" data-bind="click: goToPreviousStepOnClick, visible: shouldDisplayPreviousStepButton">< Prev</button>
        <button class="btn btn-lg btn-primary next-step" data-bind="click: goToNextStepOnClick, visible: shouldDisplayNextStepButton">Next ></button>
    </div>

</div>

</div>
